<a href="https://colab.research.google.com/github/Pathway2008/CarPrice/blob/main/price_fix_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
import pandas as pd

data = []
for n in range(108,116):
  costs = {
    99: 4000,
    100: 5400,
    101: 6500,
    102: 9500,
    103: 9500,
    104: 14000,
    105: 290,
    106: 385,
    107: 600,
    108: 1600,
    109: 2300,
    110: 5000,
    111: 10000,
    112: 20000,
    113: 37500,
    114: 56000,
    115: 75000,
    116: 125000,
    117: 170000
}
  probabilities = {
      n+3: 1.0,
      n+2: 0.8996,
      n+1: 0.6705,
      n+0: 0.5,
      n-1: 0.373,
      n-2: 0.2783,
      n-3: 0.2078,
      n-4: 0.1552,
      n-5: 0.1159,
      n-6: 0.0866,
      n-7: 0.0648,
      n-8: 0.0485,
      n-9: 0.0363,
      n-10: 0.0271
  }
  probabilities3 = {
      n+5 : 1*0.81,
      n+4 : 0.8058*0.81,
      n+3 : 0.6002*0.81,
      n+2 : 0.4472*0.81,
      n+1 : 0.3333*0.81,
      n+0 : 0.2486*0.81,
      n-1 : 0.1854*0.81,
      n-2 : 0.1384*0.81,
      n-3 : 0.1033*0.81,
      n-4 : 0.0771*0.81,
      n-5 : 0.0576*0.81,
      n-6 : 0.0431*0.81,
      n-7 : 0.0322*0.81,
      n-8 : 0.0241*0.81,
      n-9 : 0.018*0.81,
      n-10 : 0.0135*0.81
  }

  probabilities4 = {
      n+7: 1*0.64,
      n+6: 0.8129*0.64,
      n+5: 0.6050*0.64,
      n+4: 0.4505*0.64,
      n+3: 0.3355*0.64,
      n+2: 0.25*0.64,
      n+1: 0.1863*0.64,
      n+0: 0.139*0.64,
      n-1: 0.1037*0.64,
      n-2: 0.0773*0.64,
      n-3: 0.0577*0.64,
      n-4: 0.0431*0.64,
      n-5: 0.0322*0.64,
      n-6: 0.0241*0.64,
      n-7: 0.018*0.64,
      n-8: 0.0135*0.64
  }

  probabilities5 = {
      n+7: 0.4816*0.5,
      n+6: 0.3614*0.5,
      n+5: 0.2688*0.5,
      n+4: 0.2*0.5,
      n+3: 0.1489*0.5,
      n+2: 0.1108*0.5,
      n+1: 0.0826*0.5,
      n+0: 0.0615*0.5,
      n-1: 0.0458*0.5,
      n-2: 0.0342*0.5,
      n-3: 0.0255*0.5,
      n-4: 0.019*0.5,
      n-5: 0.0142*0.5,
      n-6: 0.0106*0.5,
      n-7: 0.0078*0.5,
      n-8: 0.0059*0.5
  }

  costs_list = list(costs.items())
  probabilities_list = list(probabilities.items())
  probabilities3_list = list(probabilities3.items())
  probabilities4_list = list(probabilities4.items())
  probabilities5_list = list(probabilities5.items())


  results = []
  for i in range(len(costs_list)):
      for j in range(len(probabilities_list)):
          if costs_list[i][0] == probabilities_list[j][0]:
              per_cost = costs_list[i][1] / probabilities_list[j][1]
              results.append((costs_list[i][0], costs_list[i][1],probabilities_list[j][1], per_cost))
          else:
            pass
  sorted_results = sorted(results, key=lambda x: x[3])


  cost2 = []
  for i in range(len(sorted_results)):
    if math.floor(1/sorted_results[i][2]) < 5:
      A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
      p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])
      cost = A/p
      cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1])))
    else:
      A = sorted_results[i][1] * 5
      p = sorted_results[i][2] * 5
      cost = A/p
      cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],5))




  results3 = []
  for i in range(len(costs_list)):
      for j in range(len(probabilities3_list)):
          if costs_list[i][0] == probabilities3_list[j][0]:
              per_cost = costs_list[i][1] / probabilities3_list[j][1]
              results3.append((costs_list[i][0], costs_list[i][1], probabilities3_list[j][1], per_cost))
          else:
              pass


  sorted_results3 = sorted(results3, key=lambda x: x[3])


  cost3 = []
  for i in range(len(sorted_results)):
    if math.floor(1/sorted_results[i][2]) < 5:
      A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
      p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))
          cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
          cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/sorted_results3[j][1])))

        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5
          cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
          cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],5))

    else:
      A = sorted_results[i][1] * 5
      p = sorted_results[i][2] * 5

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))
          cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
          cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[i][0], sorted_results3[i][1], sorted_results3[i][2],round(sorted_results3[j][1])))

        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5
          cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
          cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],5))

  results4 = []
  for i in range(len(costs_list)):
      for j in range(len(probabilities4_list)):
          if costs_list[i][0] == probabilities4_list[j][0]:
              per_cost = costs_list[i][1] / probabilities4_list[j][1]
              results4.append((costs_list[i][0], costs_list[i][1], probabilities4_list[j][1], per_cost))
          else:
              pass

  sorted_results4 = sorted(results4, key=lambda x: x[3])
  #
  cost4 = []
  for i in range(len(sorted_results)):
    if math.floor(1/sorted_results[i][2]) < 5:
      A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
      p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))



        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5

          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

    else:
      A = sorted_results[i][1] * 5
      p = sorted_results[i][2] * 5

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5


          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5
              cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
              cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

  #
  results5 = []
  for i in range(len(costs_list)):
      for j in range(len(probabilities5_list)):
          if costs_list[i][0] == probabilities5_list[j][0]:
              per_cost = costs_list[i][1] / probabilities5_list[j][1]
              results5.append((costs_list[i][0], costs_list[i][1], probabilities5_list[j][1], per_cost))
          else:
              pass

  sorted_results5 = sorted(results5, key=lambda x: x[3])


  cost5 = []
  for i in range(len(sorted_results)):
    if math.floor(1/sorted_results[i][2]) < 5:
      A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
      p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))


              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))




              ##
            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))

              ##



        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5

          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##

    else:
      A = sorted_results[i][1] * 5
      p = sorted_results[i][2] * 5

      for j in range(len(sorted_results3)):
        if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
          B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
          q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##

        else:
          B = sorted_results3[j][1] * 5
          q = sorted_results3[j][2] * 5

          for w in range(len(sorted_results4)):
            if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
              C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
              r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##


            else:
              C = sorted_results4[w][1]*5
              r = sorted_results4[w][2]*5

              ##
              for y in range(len(sorted_results5)):
                if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                  D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                  t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
                else:
                  D = sorted_results5[y][1]*5
                  t = sorted_results5[y][2]*5
                  cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                  p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                  cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                        sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                            sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                                sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
              ##
  cost2 = sorted(cost2, key=lambda x: x[0])
  cost2[0]

  cost3 = sorted(cost3, key=lambda x: x[0])
  cost3[0]

  cost4 = sorted(cost4, key=lambda x: x[0])
  cost4[0]

  cost5 = sorted(cost5, key=lambda x: x[0])
  cost5[0]
  data.append([n, format(cost3[0][0],','), format(cost4[0][0],','), format(cost5[0][0],','),
               cost2[0][1],round(cost2[0][2]),round(cost2[0][4]),
               cost3[0][5],round(cost3[0][6]),round(cost3[0][8]),
               cost4[0][9],round(cost4[0][10]),round(cost4[0][12]),
               cost5[0][13],round(cost5[0][14]),round(cost5[0][16])])

columns = ['subject_ovr','cost_level_1_to_3','cost_level_1_to_4','cost_level_1_to_5',
           'raw_ovr_1_to_2','raw_price_1_to_2','raw_required_1_to_2',
            'raw_ovr_2_to_3','raw_price_2_to_3','raw_required_2_to_3',
            'raw_ovr_3_to_4','raw_price_3_to_4','raw_required_3_to_4',
            'raw_ovr_4_to_5','raw_price_4_to_5','raw_required_4_to_5',]

cost_data = pd.DataFrame(data, columns=columns)

In [ ]:
cost_data

,subject_ovr,cost_level_1_to_3,cost_level_1_to_4,cost_level_1_to_5,raw_ovr_1_to_2,raw_price_1_to_2,raw_required_1_to_2,raw_ovr_2_to_3,raw_price_2_to_3,raw_required_2_to_3,raw_ovr_3_to_4,raw_price_3_to_4,raw_required_3_to_4,raw_ovr_4_to_5,raw_price_4_to_5,raw_required_4_to_5
0,108,"5,838","25,819","178,723",106,385,3,107,600,5,107,600,5,109,2300,5
1,109,"8,658","44,646","334,603",106,385,4,107,600,5,109,2300,5,110,5000,5
2,110,"13,100","72,776","591,229",106,385,5,107,600,5,109,2300,5,111,10000,5
3,111,"20,246","126,288","1,001,710",106,385,5,107,600,5,109,2300,5,115,75000,5
4,112,"31,918","228,050","1,618,553",106,385,5,107,600,5,110,5000,5,115,75000,5
5,113,"51,224","407,166","2,513,466",106,385,5,107,600,5,111,10000,5,117,170000,5
6,114,"83,325","719,108","4,213,738",106,385,5,109,2300,5,111,10000,5,117,170000,5
7,115,"126,642","1,126,952","7,134,750",106,385,5,109,2300,5,115,75000,5,117,170000,5

In [ ]:
cost_data

,subject_ovr,cost_level_1_to_3,cost_level_1_to_4,cost_level_1_to_5,raw_ovr_1_to_2,raw_price_1_to_2,raw_required_1_to_2,raw_ovr_2_to_3,raw_price_2_to_3,raw_required_2_to_3,raw_ovr_3_to_4,raw_price_3_to_4,raw_required_3_to_4,raw_ovr_4_to_5,raw_price_4_to_5,raw_required_4_to_5
0,108,"5,838","25,819","167,664",106,385,3,107,600,5,107,600,5,110,4200,5
1,109,"8,658","43,085","301,748",106,385,4,107,600,5,108,1200,5,111,8200,5
2,110,"13,100","73,530","551,294",106,385,5,107,600,5,109,2350,5,111,8200,5
3,111,"20,246","122,937","995,009",106,385,5,107,600,5,110,4200,5,115,75000,5
4,112,"31,918","211,879","1,575,112",106,385,5,107,600,5,110,4200,5,115,75000,5
5,113,"51,189","370,641","2,440,417",106,385,5,108,1200,5,111,8200,5,117,170000,5
6,114,"79,850","651,539","4,032,225",106,385,5,108,1200,5,111,8200,5,117,170000,5
7,115,"127,337","1,128,515","7,140,391",106,385,5,108,1200,5,115,75000,5,117,170000,5

In [ ]:
print(cost2[0])
print(cost3[0])
print(cost4[0])
print(cost5[0])

(10606, 106, 385, 0.0363, 5)
(127337, 106, 385, 0.0363, 5, 108, 1200, 0.026082, 5)
(1106033, 106, 385, 0.0363, 5, 108, 1200, 0.026082, 5, 115, 73000, 0.08896000000000001, 5)
(6878723, 106, 385, 0.0363, 5, 108, 1200, 0.026082, 5, 115, 73000, 0.08896000000000001, 5, 117, 160000, 0.0554, 5)

# Top_revenue

In [ ]:
cost_data['cost_level_1_to_3'] = cost_data['cost_level_1_to_3'].str.replace(',', '').astype(int)
cost_data['cost_level_1_to_4'] = cost_data['cost_level_1_to_4'].str.replace(',', '').astype(int)
cost_data['cost_level_1_to_5'] = cost_data['cost_level_1_to_5'].str.replace(',', '').astype(int)

In [ ]:
fifa = pd.read_csv('/content/drive/MyDrive/fifa/20230809_fifa_data')

In [ ]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118 entries, 0 to 1117
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      1118 non-null   object
 1           1118 non-null   object
 2   1 Overall  1118 non-null   int64
 3   2 Overall  1118 non-null   int64
 4   3 Overall  1118 non-null   int64
 5   4 Overall  1118 non-null   int64
 6   5 Overall  1118 non-null   int64
 7   6 Overall  1118 non-null   int64
 8   7 Overall  1118 non-null   int64
 9   8 Overall  1118 non-null   int64
 10  1        1118 non-null   int64
 11  2        1118 non-null   int64
 12  3        1118 non-null   int64
 13  4        1118 non-null   int64
 14  5        1118 non-null   int64
 15  6        1118 non-null   int64
 16  7        1118 non-null   int64
 17  8        1118 non-null   int64
dtypes: int64(16), object(2)
memory usage: 157.3+ KB

In [ ]:
target_3 = []
for i in range(len(fifa)):
  for j in range(len(cost_data)):
    if (fifa['1 Overall'][i] == cost_data['subject_ovr'][j]) and (fifa['3 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]) > 0:
      profit_96 = fifa['3 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      profit_92 = fifa['3 '][i]*0.92 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      profit_80 = fifa['3 '][i]*0.8 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      target_3.append([fifa['season'][i],fifa[''][i],fifa['1 Overall'][i],round(profit_96),round(profit_92),round(profit_80)])

    else:
      pass

target_4 = []
for i in range(len(fifa)):
  for j in range(len(cost_data)):
    if (fifa['1 Overall'][i] == cost_data['subject_ovr'][j]) and (fifa['4 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]) > 0:
      profit_96 = fifa['4 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      profit_92 = fifa['4 '][i]*0.92 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      profit_80 = fifa['4 '][i]*0.8 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      target_4.append([fifa['season'][i],fifa[''][i],fifa['1 Overall'][i],round(profit_96),round(profit_92),round(profit_80)])

    else:
      pass

In [ ]:
columns_3 = ['season','name','level_1_ovr','profit_40%','profit_30%','profit_0%']
columns_4 = ['season','name','level_1_ovr','profit_40%','profit_30%','profit_0%']

rank_3 = pd.DataFrame(target_3, columns=columns_3)
rank_4 = pd.DataFrame(target_4, columns=columns_4)

In [ ]:
import pandas as pd
fifa = pd.read_csv('/content/drive/MyDrive/fifa/20230811_fifa_data')

cost_data['cost_level_1_to_3'] = cost_data['cost_level_1_to_3'].str.replace(',', '').astype(int)
cost_data['cost_level_1_to_4'] = cost_data['cost_level_1_to_4'].str.replace(',', '').astype(int)
cost_data['cost_level_1_to_5'] = cost_data['cost_level_1_to_5'].str.replace(',', '').astype(int)

target_3 = []
for i in range(len(fifa)):
  for j in range(len(cost_data)):
    if (fifa['1 Overall'][i] == cost_data['subject_ovr'][j]) and (fifa['3 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]) > 0:
      profit_96 = fifa['3 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      profit_92 = fifa['3 '][i]*0.92 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      profit_80 = fifa['3 '][i]*0.8 - fifa['1 '][i] -cost_data['cost_level_1_to_3'][j]
      target_3.append([fifa['season'][i],fifa[''][i],fifa['1 Overall'][i],round(profit_96),round(profit_92),round(profit_80)])

    else:
      pass

target_4 = []
for i in range(len(fifa)):
  for j in range(len(cost_data)):
    if (fifa['1 Overall'][i] == cost_data['subject_ovr'][j]) and (fifa['4 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]) > 0:
      profit_96 = fifa['4 '][i]*0.96 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      profit_92 = fifa['4 '][i]*0.92 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      profit_80 = fifa['4 '][i]*0.8 - fifa['1 '][i] -cost_data['cost_level_1_to_4'][j]
      target_4.append([fifa['season'][i],fifa[''][i],fifa['1 Overall'][i],round(profit_96),round(profit_92),round(profit_80)])

    else:
      pass

columns_3 = ['season','name','level_1_ovr','profit_40%','profit_30%','profit_0%']
columns_4 = ['season','name','level_1_ovr','profit_40%','profit_30%','profit_0%']

rank_3 = pd.DataFrame(target_3, columns=columns_3)
rank_4 = pd.DataFrame(target_4, columns=columns_4)
#sorted by 40%
rank_3 = rank_3.sort_values(by='profit_40%' , ascending = False)
# sorted by 30%
rank_3_30 = rank_3.sort_values(by='profit_30%' , ascending = False)

col = ['profit_40%','profit_30%','profit_0%']
rank_3[col] = rank_3[col].applymap(lambda x: '{:,}'.format(int(x)))
col = ['profit_40%','profit_30%','profit_0%']
rank_3_30[col] = rank_3_30[col].applymap(lambda x: '{:,}'.format(int(x)))

#sorted by 40%
rank_4 = rank_4.sort_values(by='profit_40%' , ascending = False)
#sorted by 30%
rank_4_30 = rank_4.sort_values(by='profit_30%' , ascending = False)

col = ['profit_40%','profit_30%','profit_0%']
rank_4[col] = rank_4[col].applymap(lambda x: '{:,}'.format(int(x)))
col = ['profit_40%','profit_30%','profit_0%']
rank_4_30[col] = rank_4_30[col].applymap(lambda x: '{:,}'.format(int(x)))

In [ ]:
rank_3_30.head(20)

     season       name  level_1_ovr profit_40% profit_30% profit_0%
129    ICON                109    118,382    111,022    88,942
96     ICON              110    168,100     69,300  -227,100
0      ICON                   115     80,423     58,183    -8,537
9      ICON               114     36,430     28,910     6,350
12   23TOTS  R.           113     40,971     27,131   -14,389
8      ICON              114     33,050     25,450     2,650
2      ICON              114     32,190     23,230    -3,650
4    23TOTY               114     29,070     20,790    -4,050
3    23TOTY                114     24,330     16,210    -8,150
14   23TOTS                  113     21,791     16,071    -1,089
17   23TOTS               113     21,031     15,951       711
10   23TOTS                 113     34,651     15,491   -41,989
16     ICON               113     20,591     15,471       111
18   23TOTS               113     20,071     15,031       -89
1      ICON                114     29,350     13,550   -33,850
168  22TOTY                108     12,230     10,298     4,502
177  22TOTS               108     11,146      9,830     5,882
34   23TOTS                 112     13,174      9,466    -1,658
36   23TOTS             112     12,426      9,270      -198
103    ICON               110     15,540      9,180    -9,900

In [ ]:
rank_4_30.head(20)

     season        name  level_1_ovr profit_40% profit_30% profit_0%
5    23TOTS   R.           113    138,361    107,321    14,201
4    23TOTS                  113    142,601    105,801    -4,599
3      ICON                 113    197,801    102,201  -184,599
0      ICON                  114    265,134     94,334  -418,066
51     ICON               110    194,070     91,670  -215,530
84     ICON                 109     87,795     80,275    57,715
2      ICON               114    101,014     66,094   -38,666
10     ICON                 112    125,321     62,521  -125,879
14     ICON                  112     90,921     58,721   -37,879
13     ICON                    112     92,401     58,681   -42,479
17     ICON                 112     70,501     54,581     6,821
28     ICON              111     72,663     50,263   -16,937
8      ICON                113     67,101     46,901   -13,699
16     ICON               112     59,841     41,561   -13,279
6      ICON                 113     63,041     38,681   -34,399
19   23TOTS                  112     49,501     36,781    -1,379
15     ICON                 112     57,641     35,161   -32,279
111  22TOTS             108     57,621     34,061   -36,619
12     ICON                112     65,681     32,241   -68,079
55   22TOTY   R.           110     41,950     28,430   -12,130

In [ ]:
rank_3.head(20)

     season       name  level_1_ovr profit_40% profit_30% profit_0%
96     ICON              110    168,100     69,300  -227,100
129    ICON                109    118,382    111,022    88,942
0      ICON                   115     80,423     58,183    -8,537
27     ICON              112     47,682    -52,718  -353,918
12   23TOTS  R.           113     40,971     27,131   -14,389
9      ICON               114     36,430     28,910     6,350
10   23TOTS                 113     34,651     15,491   -41,989
8      ICON              114     33,050     25,450     2,650
2      ICON              114     32,190     23,230    -3,650
30     ICON                 112     29,922      7,762   -58,718
1      ICON                114     29,350     13,550   -33,850
4    23TOTY               114     29,070     20,790    -4,050
3    23TOTY                114     24,330     16,210    -8,150
14   23TOTS                  113     21,791     16,071    -1,089
17   23TOTS               113     21,031     15,951       711
29     ICON               112     21,002     -3,078   -75,318
16     ICON               113     20,591     15,471       111
18   23TOTS               113     20,071     15,031       -89
31     ICON              112     18,042      9,002   -18,118
97     ICON                 110     16,660      1,420   -44,300

In [ ]:
rank_4.head(20)

    season       name  level_1_ovr profit_40% profit_30% profit_0%
0     ICON                 114    265,134     94,334  -418,066
3     ICON                113    197,801    102,201  -184,599
51    ICON              110    194,070     91,670  -215,530
4   23TOTS                 113    142,601    105,801    -4,599
5   23TOTS  R.           113    138,361    107,321    14,201
10    ICON                112    125,321     62,521  -125,879
2     ICON              114    101,014     66,094   -38,666
13    ICON                   112     92,401     58,681   -42,479
14    ICON                 112     90,921     58,721   -37,879
84    ICON                109     87,795     80,275    57,715
9     ICON              112     78,921    -30,279  -357,879
27    ICON                  111     73,063    -30,937  -342,937
28    ICON             111     72,663     50,263   -16,937
17    ICON                112     70,501     54,581     6,821
11    ICON                112     68,521     26,921   -97,879
8     ICON               113     67,101     46,901   -13,699
12    ICON               112     65,681     32,241   -68,079
6     ICON                113     63,041     38,681   -34,399
16    ICON              112     59,841     41,561   -13,279
15    ICON                112     57,641     35,161   -32,279

In [ ]:
rank_3 = rank_3.sort_values(by='profit_40%' , ascending = False)

col = ['profit_40%','profit_30%','profit_0%']
rank_3[col] = rank_3[col].applymap(lambda x: '{:,}'.format(int(x)))
rank_3.head(20) # top 20

     season       name  level_1_ovr profit_40% profit_30% profit_0%
0      ICON                   115    138,740    114,820    43,060
130    ICON                109    118,075    110,715    88,635
10     ICON                113     45,277    -26,323  -241,123
11   23TOTS                 113     38,917     19,957   -36,923
30     ICON                112     38,111    -10,689  -157,089
12   23TOTS  R.           113     37,037     23,197   -18,323
1      ICON                114     35,314     20,114   -25,486
8      ICON                114     34,274     26,634     3,714
4      ICON              114     30,274     22,034    -2,686
47   23TOTS              111     26,740     16,460   -14,380
13     ICON                113     26,197     18,517    -4,523
9      ICON               114     24,674     17,634    -3,486
34     ICON              112     24,271     15,631   -10,289
2    23TOTY               114     24,074     15,634    -9,686
27     ICON               113     23,297     18,217     2,977
7      ICON              114     19,814     12,414    -9,786
14   23TOTS                  113     18,977     12,977    -5,023
15   23TOTS               113     18,297     13,217    -2,023
46     ICON             111     17,300      3,580   -37,580
175  22TOTS     F.           108     17,061     15,265     9,877

In [ ]:
rank_4 = rank_4.sort_values(by='profit_40%' , ascending = False)

col = ['profit_40%','profit_30%','profit_0%']
rank_4[col] = rank_4[col].applymap(lambda x: '{:,}'.format(int(x)))
rank_4.head(20) # top 20

    season       name  level_1_ovr profit_40% profit_30% profit_0%
0     ICON                 114    303,165    129,165  -392,835
1     ICON                113    296,021    200,421   -86,379
37    ICON              110    261,647    160,447  -143,153
5     ICON              112    159,343     50,543  -275,857
20    ICON                  111    124,381     18,381  -299,619
3   23TOTS  R.           113    107,301     76,981   -13,979
6     ICON                112     98,943     39,743  -137,857
4     ICON                113     89,741     65,861    -5,779
66    ICON                109     81,564     74,204    52,124
7     ICON                112     80,143     38,143   -87,857
11    ICON                112     65,903     44,663   -19,057
38    ICON                110     62,287     32,727   -55,953
2   23TOTS                 113     59,261     25,901   -74,179
22  23TOTS              111     54,421     38,461    -9,419
10    ICON                   112     52,423     22,703   -66,457
9     ICON                 112     52,263     21,383   -71,257
8     ICON               112     44,743     11,343   -88,857
21    ICON             111     44,021     24,661   -33,419
27    ICON                   111     42,341     32,701     3,781
25    ICON               111     37,781     26,181    -8,619

#1

In [ ]:
import math
n = int(input(" 1 overall: "))
print()
raw = int(input("1   :(): "))
f_raw = format(raw,',')
print(f"1 (): {f_raw}()\n")

sell_price3 = int(input("3   :(): "))
f_sell_price = format(sell_price3,',')
print(f"3 (): {f_sell_price}()\n")

sell_price4 = int(input("4   (): "))
f_sell_price = format(sell_price4,',')
print(f"4 (): {f_sell_price}()\n\n")


print('------------------------------------------')
coupon = int(input(" coupon  (%): "))
top = int(input("Top price  ( : 1,  : 0): "))
pc = int(input("PC   ( : 1,  :0): "))
print('coupon, top, pc  .')
print('------------------------------------------\n')


costs = {
  99: 4000,
  100: 5400,
  101: 6500,
  102: 9500,
  103: 9500,
  104: 14000,
  105: 290,
  106: 385,
  107: 600,
  108: 1200,
  109: 2350,
  110: 4200,
  111: 8200,
  112: 17000,
  113: 34000,
  114: 56000,
  115: 75000,
  116: 125000,
  117: 170000
}
probabilities = {
    n+3: 1.0,
    n+2: 0.8996,
    n+1: 0.6705,
    n+0: 0.5,
    n-1: 0.373,
    n-2: 0.2783,
    n-3: 0.2078,
    n-4: 0.1552,
    n-5: 0.1159,
    n-6: 0.0866,
    n-7: 0.0648,
    n-8: 0.0485,
    n-9: 0.0363,
    n-10: 0.0271
}
probabilities3 = {
    n+5 : 1*0.81,
    n+4 : 0.8058*0.81,
    n+3 : 0.6002*0.81,
    n+2 : 0.4472*0.81,
    n+1 : 0.3333*0.81,
    n+0 : 0.2486*0.81,
    n-1 : 0.1854*0.81,
    n-2 : 0.1384*0.81,
    n-3 : 0.1033*0.81,
    n-4 : 0.0771*0.81,
    n-5 : 0.0576*0.81,
    n-6 : 0.0431*0.81,
    n-7 : 0.0322*0.81,
    n-8 : 0.0241*0.81,
    n-9 : 0.018*0.81,
    n-10 : 0.0135*0.81
}

probabilities4 = {
    n+7: 1*0.64,
    n+6: 0.8129*0.64,
    n+5: 0.6050*0.64,
    n+4: 0.4505*0.64,
    n+3: 0.3355*0.64,
    n+2: 0.25*0.64,
    n+1: 0.1863*0.64,
    n+0: 0.139*0.64,
    n-1: 0.1037*0.64,
    n-2: 0.0773*0.64,
    n-3: 0.0577*0.64,
    n-4: 0.0431*0.64,
    n-5: 0.0322*0.64,
    n-6: 0.0241*0.64,
    n-7: 0.018*0.64,
    n-8: 0.0135*0.64
}

probabilities5 = {
    n+7: 0.4816*0.5,
    n+6: 0.3614*0.5,
    n+5: 0.2688*0.5,
    n+4: 0.2*0.5,
    n+3: 0.1489*0.5,
    n+2: 0.1108*0.5,
    n+1: 0.0826*0.5,
    n+0: 0.0615*0.5,
    n-1: 0.0458*0.5,
    n-2: 0.0342*0.5,
    n-3: 0.0255*0.5,
    n-4: 0.019*0.5,
    n-5: 0.0142*0.5,
    n-6: 0.0106*0.5,
    n-7: 0.0078*0.5,
    n-8: 0.0059*0.5
}

costs_list = list(costs.items())
probabilities_list = list(probabilities.items())
probabilities3_list = list(probabilities3.items())
probabilities4_list = list(probabilities4.items())
probabilities5_list = list(probabilities5.items())


results = []
for i in range(len(costs_list)):
    for j in range(len(probabilities_list)):
        if costs_list[i][0] == probabilities_list[j][0]:
            per_cost = costs_list[i][1] / probabilities_list[j][1]
            results.append((costs_list[i][0], costs_list[i][1],probabilities_list[j][1], per_cost))
        else:
          pass
sorted_results = sorted(results, key=lambda x: x[3])


cost2 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])
    cost = A/p
    cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1])))
  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5
    cost = A/p
    cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],5))




results3 = []
for i in range(len(costs_list)):
    for j in range(len(probabilities3_list)):
        if costs_list[i][0] == probabilities3_list[j][0]:
            per_cost = costs_list[i][1] / probabilities3_list[j][1]
            results3.append((costs_list[i][0], costs_list[i][1], probabilities3_list[j][1], per_cost))
        else:
            pass


sorted_results3 = sorted(results3, key=lambda x: x[3])


cost3 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/sorted_results3[j][1])))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],5))

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[i][0], sorted_results3[i][1], sorted_results3[i][2],round(sorted_results3[j][1])))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],5))

results4 = []
for i in range(len(costs_list)):
    for j in range(len(probabilities4_list)):
        if costs_list[i][0] == probabilities4_list[j][0]:
            per_cost = costs_list[i][1] / probabilities4_list[j][1]
            results4.append((costs_list[i][0], costs_list[i][1], probabilities4_list[j][1], per_cost))
        else:
            pass

sorted_results4 = sorted(results4, key=lambda x: x[3])
#
cost4 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))



      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5


        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/sorted_results4[w][1])))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],5))

#
results5 = []
for i in range(len(costs_list)):
    for j in range(len(probabilities5_list)):
        if costs_list[i][0] == probabilities5_list[j][0]:
            per_cost = costs_list[i][1] / probabilities5_list[j][1]
            results5.append((costs_list[i][0], costs_list[i][1], probabilities5_list[j][1], per_cost))
        else:
            pass

sorted_results5 = sorted(results5, key=lambda x: x[3])


cost5 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))


            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))




            ##
          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))

            ##



      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/(sorted_results3[j][2]/0.81)) < 5:
        B = sorted_results3[j][1] * math.floor(1/(sorted_results3[j][2]/0.81))
        q = sorted_results3[j][2] * math.floor(1/(sorted_results3[j][2]/0.81))


        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/(sorted_results4[w][2]/0.64)) < 5:
            C = sorted_results4[w][1]*math.floor(1/(sorted_results4[w][2]/0.64))
            r = sorted_results4[w][2]*math.floor(1/(sorted_results4[w][2]/0.64))

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2], round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/(sorted_results5[y][2]/0.5)) < 5:
                D = sorted_results5[y][1]*math.floor(1/(sorted_results5[y][2]/0.5))
                t = sorted_results5[y][2]*math.floor(1/(sorted_results5[y][2]/0.5))
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],round(D/sorted_results5[y][1])))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],round(A/ sorted_results[i][1]),
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],round(B/ sorted_results3[j][1]),
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],round(C/ sorted_results4[w][1]),
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2],5))
            ##
cost2 = sorted(cost2, key=lambda x: x[0])
cost2[0]

cost3 = sorted(cost3, key=lambda x: x[0])
cost3[0]

cost4 = sorted(cost4, key=lambda x: x[0])
cost4[0]

cost5 = sorted(cost5, key=lambda x: x[0])
cost5[0]

t = 0.6 + (0.4 * 0.2) * top + (0.4 * 0.3) * pc + (0.4 * coupon / 100)
S3 = sell_price3 * t - raw
print(f'1 -> 3  {S3 - cost3[0][0]}\n\n'
      f'raw_ovr_1_to_2 : {cost3[0][1]}()\n'
      f'raw_price_1_to_2 : {cost3[0][2]}()\n'
      f'raw_required_1_to_2: {cost3[0][4]}\n\n'
      f'raw_ovr_2_to_3 : {cost3[0][5]}()\n'
      f'raw_price_2_to_3 : {cost3[0][6]}()\n'
      f'raw_required_2_to_3: {cost3[0][8]}\n\n')
print('------------------------------------------\n')


S4 = sell_price4 * t - raw
print(f'1 -> 4  {S4 - cost4[0][0]}\n\n'
      f'raw_ovr_1_to_2 : {cost4[0][1]}()\n'
      f'raw_price_1_to_2 : {cost4[0][2]}()\n'
      f'raw_required_1_to_2: {cost4[0][4]}\n\n'
      f'raw_ovr_2_to_3 : {cost4[0][5]}()\n'
      f'raw_price_2_to_3 : {cost4[0][6]}()\n'
      f'raw_required_2_to_3: {cost4[0][8]}\n\n'
      f'raw_ovr_3_to_4 : {cost4[0][9]}()\n'
      f'raw_price_3_to_4 : {cost4[0][10]}()\n'
      f'raw_required_3_to_4: {cost4[0][12]}\n')

 1 overall: 114

1   :(): 3300000
1 (): 3,300,000()

3   :(): 3500000
3 (): 3,500,000()

4   (): 4500000
4 (): 4,500,000()


------------------------------------------
 coupon  (%): 40
Top price  ( : 1,  : 0): 1
PC   ( : 1,  :0): 1
coupon, top, pc  .
------------------------------------------

1 -> 3  -19850.0

raw_ovr_1_to_2 : 106()
raw_price_1_to_2 : 385()
raw_required_1_to_2: 5

raw_ovr_2_to_3 : 108()
raw_price_2_to_3 : 1200()
raw_required_2_to_3: 5


------------------------------------------

1 -> 4  368461.0

raw_ovr_1_to_2 : 106()
raw_price_1_to_2 : 385()
raw_required_1_to_2: 5

raw_ovr_2_to_3 : 108()
raw_price_2_to_3 : 1200()
raw_required_2_to_3: 5

raw_ovr_3_to_4 : 111()
raw_price_3_to_4 : 8200()
raw_required_3_to_4: 5

In [ ]:
A = 385*5
p = 0.0485*5

B = 1200*5
q = 0.034911*5

C = 8200*5
r = 0.036928*5
(1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) , 651539-(A+B+C)

(4709.87454276608, 602614)

In [ ]:
cost4[0]

(651539,
 106,
 385,
 0.0485,
 5,
 108,
 1200,
 0.034911000000000005,
 5,
 111,
 8200,
 0.036928,
 5)

### level2

In [ ]:
import math
cost2 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])
    cost = A/p
    cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2]))
  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5
    cost = A/p
    cost2.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2]))

In [ ]:
cost2 = sorted(cost2, key=lambda x: x[0])
cost2[0]

(4630, 105, 300, 0.0648)

### level3

In [ ]:
import math
cost3 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2]))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2]))

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[i][0], sorted_results3[i][1], sorted_results3[i][2]))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5
        cost = (1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
        cost3.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2]))

In [ ]:
cost3 = sorted(cost3, key=lambda x: x[0])
cost3[0]

(33563, 105, 300, 0.0648, 107, 640, 0.046656)

In [ ]:
p=0.1159*5
q=0.150174*5
A=300*5
B=2500*5
(1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))
#

20094.60799990274

### level4

In [ ]:
import math
cost4 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])


        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))



      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])


        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5


        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5
            cost = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))
            cost4.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2]))

In [ ]:
cost4 = sorted(cost4, key=lambda x: x[0])
cost4[0]

(223639, 105, 300, 0.0648, 107, 640, 0.046656, 111, 8200, 0.066368)

### level5

In [ ]:
import math
cost5 = []
for i in range(len(sorted_results)):
  if math.floor(1/sorted_results[i][2]) < 5:
    A = sorted_results[i][1] * math.floor(1/sorted_results[i][2])
    p = sorted_results[i][2] * math.floor(1/sorted_results[i][2])

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])


        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])


            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))




            ##
          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))

            ##



      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##

  else:
    A = sorted_results[i][1] * 5
    p = sorted_results[i][2] * 5

    for j in range(len(sorted_results3)):
      if math.floor(1/sorted_results3[j][2]) < 5:
        B = sorted_results3[j][1] * math.floor(1/sorted_results3[j][2])
        q = sorted_results3[j][2] * math.floor(1/sorted_results3[j][2])


        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##

      else:
        B = sorted_results3[j][1] * 5
        q = sorted_results3[j][2] * 5

        for w in range(len(sorted_results4)):
          if math.floor(1/sorted_results4[w][2]) < 5:
            C = sorted_results4[w][1]*math.floor(1/sorted_results4[w][2])
            r = sorted_results4[w][2]*math.floor(1/sorted_results4[w][2])

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##


          else:
            C = sorted_results4[w][1]*5
            r = sorted_results4[w][2]*5

            ##
            for y in range(len(sorted_results5)):
              if math.floor(1/sorted_results5[y][2]) < 5:
                D = sorted_results5[y][1]*math.floor(1/sorted_results5[y][2])
                t = sorted_results5[y][2]*math.floor(1/sorted_results5[y][2])
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
              else:
                D = sorted_results5[y][1]*5
                t = sorted_results5[y][2]*5
                cost = (1/(p*q*r*t))*((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) +
                                p*q*r*(1-t)*0.55*(A+B+C+D) + p*q*r*(1-t)*0.45*(B+C+D)+p*q*r*t*(A+B+C+D))
                cost5.append((round(cost), sorted_results[i][0], sorted_results[i][1], sorted_results[i][2],
                      sorted_results3[j][0], sorted_results3[j][1], sorted_results3[j][2],
                          sorted_results4[w][0],sorted_results4[w][1],sorted_results4[w][2],
                              sorted_results5[y][0],sorted_results5[y][1],sorted_results5[y][2]))
            ##

In [ ]:
cost5 = sorted(cost5, key=lambda x: x[0])
cost5[0]

(1513003,
 105,
 300,
 0.0648,
 107,
 640,
 0.046656,
 111,
 8200,
 0.066368,
 115,
 68000,
 0.07445)

####       ?

In [ ]:
percen = [1,2,3,4,5,6]
combinations_per = []

for length in range(1, 6):
    for combo in itertools.product(percen, repeat=length):
        combinations_per.append(combo)

In [ ]:
combinations_per[len(combinations_per)-1]

(6, 6, 6, 6, 6)

In [ ]:
sorted_results

[(105, 300, 0.1159, 2588.4383088869713),
 (107, 640, 0.2078, 3079.8845043310876),
 (106, 500, 0.1552, 3221.6494845360826),
 (108, 1650, 0.2783, 5928.853754940712),
 (109, 2500, 0.373, 6702.412868632708),
 (110, 4700, 0.5, 9400.0),
 (111, 8200, 0.6705, 12229.679343773303),
 (112, 16000, 0.8996, 17785.68252556692),
 (113, 30000, 1.0, 30000.0),
 (103, 9500, 0.0648, 146604.93827160494),
 (104, 14000, 0.0866, 161662.81755196306),
 (101, 6500, 0.0363, 179063.3608815427),
 (102, 9500, 0.0485, 195876.28865979382),
 (100, 5400, 0.0271, 199261.9926199262)]

In [ ]:
#(1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))

In [ ]:
import itertools #110
#105 , 107 , 106, 108, 109, 110, 111, 112 , 113
percen = [sorted_results[0][2], sorted_results[1][2], sorted_results[2][2], sorted_results[3][2], sorted_results[4][2],
          sorted_results[5][2], sorted_results[6][2], sorted_results[7][2], sorted_results[8][2]]

combinations_per = []

for length in range(1, 6):
    for combo in itertools.product(percen, repeat=length):
        if sum(combo) <= 1:
            combinations_per.append(combo)
sum_per = [sum(combo) for combo in combinations_per]
############################
value_mappings = {
    0.1159: sorted_results[0][1],
    0.2078: sorted_results[1][1],
    0.1552: sorted_results[2][1],
    0.2783: sorted_results[3][1],
    0.373: sorted_results[4][1],
    0.5: sorted_results[5][1],
    0.6705: sorted_results[6][1],
    0.8996: sorted_results[7][1],
    1: sorted_results[8][1]
}

combinations_price = []

for combo in combinations_per:
    mapped_values = [value_mappings[value] for value in combo]
    combinations_price.append(mapped_values)

sum_price = [sum(combo) for combo in combinations_price]

price_per = []

for i in range(0,len(sum_price)):
  a = (sum_price[i] / sum_per[i])
  price_per.append(a)

min_index = price_per.index(min(price_per))

print(price_per[min_index],combinations_price[min_index], sum_price[min_index],combinations_per[min_index],sum_per[min_index])

2588.4383088869713 [300] 300 (0.1159,) 0.1159

In [ ]:
len(sum_price) #A,
len(sum_per) #p

(1605, 1605)

In [ ]:
sorted_results3

[(105, 300, 0.046656, 6430.041152263374),
 (107, 640, 0.08367300000000001, 7648.823395838561),
 (106, 500, 0.062451000000000007, 8006.276921106147),
 (108, 1650, 0.11210400000000001, 14718.47570113466),
 (109, 2500, 0.15017400000000003, 16647.355734015207),
 (110, 4700, 0.201366, 23340.583812560217),
 (111, 8200, 0.269973, 30373.40771114148),
 (112, 16000, 0.362232, 44170.58680624572),
 (113, 30000, 0.486162, 61707.825786466245),
 (114, 47000, 0.652698, 72008.80039466951),
 (115, 68000, 0.81, 83950.61728395062),
 (103, 9500, 0.026082, 364235.8714822483),
 (104, 14000, 0.034911000000000005, 401019.7358998596),
 (101, 6500, 0.01458, 445816.18655692734),
 (102, 9500, 0.019521, 486655.3967522156),
 (100, 5400, 0.010935, 493827.16049382713)]

In [ ]:
import itertools #110 #3
#105 , 107 , 106, 108, 109, 110, 111, ##112 , 113, #114, 115
percen = [sorted_results3[0][2], 0.083673, 0.062451,0.112104,0.150174,
          sorted_results3[5][2], sorted_results3[6][2] ]
#sorted_results3[7][2], sorted_results3[8][2],sorted_results3[9][2],sorted_results3[10][2]
combinations_per3 = []

for length in range(1, 6):
    for combo in itertools.product(percen, repeat=length):
        if sum(combo) <= 1:
            combinations_per3.append(combo)
sum_per3 = [sum(combo) for combo in combinations_per3]
############################
value_mappings = {
    0.046656: sorted_results3[0][1],
    0.083673: sorted_results3[1][1],
    0.062451: sorted_results3[2][1],
    0.112104: sorted_results3[3][1],
    0.150174: sorted_results3[4][1],
    0.201366: sorted_results3[5][1],
    sorted_results3[6][2]: sorted_results3[6][1],
    #sorted_results3[7][2]: sorted_results3[7][1],
    #sorted_results3[8][2]: sorted_results3[8][1],
    #sorted_results3[9][2]: sorted_results3[9][1],
    #sorted_results3[10][2]: sorted_results3[10][1]
}

combinations_price3 = []

for combo in combinations_per3:
    mapped_values = [value_mappings[value] for value in combo]
    combinations_price3.append(mapped_values)

sum_price3 = [sum(combo) for combo in combinations_price3]

price_per3 = []

for i in range(0,len(sum_price)):
  a = (sum_price3[i] / sum_per3[i])
  price_per3.append(a)

min_index = price_per3.index(min(price_per3))

print(price_per3[min_index],combinations_price3[min_index], sum_price3[min_index],combinations_per3[min_index],sum_per3[min_index])

6430.041152263374 [300] 300 (0.046656,) 0.046656

In [ ]:
len(combinations_per3) , len(combinations_price3) ,len(sum_per3) , len(sum_price3)

(19095, 19095, 19095, 19095)

In [ ]:
min_value = float('inf')
min_combination = None

for i in range(len(sum_price)):
    A = sum_price[i]
    p = sum_per[i]

    for j in range(len(sum_price3)):
        B = sum_price3[j]
        q = sum_per3[j]

        # Calculate the expression value
        expression_value = (1 / (p * q)) * (
            (1 - p) * A + p * (1 - q) * (A + B) + p * q * (A + B)
        )

        # Check if the current value is the new minimum
        if expression_value < min_value:
            min_value = expression_value
            min_combination = (A, B, p, q)

# Output the result
A_min, B_min, p_min, q_min = min_combination
print("Minimum Value:", min_value)
print("A:", A_min)
print("B:", B_min)
print("p:", p_min)
print("q:", q_min)

Minimum Value: 13835.856988244645
A: 300
B: 3200
p: 0.1159
q: 0.418365

In [ ]:
A = 300*5
B = 3200
p = 0.1159*5
q = 0.418365
cost = (1 / (p * q)) * ((1 - p) * A + p * (1 - q) * (A + B) + p * q * (A + B))
cost

13835.856988244646

In [ ]:
sorted_results4

[(105, 300, 0.020608, 14557.453416149068),
 (107, 640, 0.036928, 17331.02253032929),
 (106, 500, 0.027584, 18126.45011600928),
 (108, 1650, 0.049471999999999995, 33352.19922380336),
 (109, 2500, 0.066368, 37668.75602700096),
 (110, 4700, 0.08896000000000001, 52832.733812949635),
 (111, 8200, 0.119232, 68773.48362855609),
 (112, 16000, 0.16, 100000.0),
 (113, 30000, 0.21472000000000002, 139716.84053651267),
 (114, 47000, 0.28832, 163013.31853496114),
 (115, 68000, 0.3872, 175619.8347107438),
 (116, 130000, 0.5202559999999999, 249876.983638824),
 (117, 170000, 0.64, 265625.0),
 (103, 9500, 0.011519999999999999, 824652.7777777779),
 (104, 14000, 0.015424, 907676.3485477178),
 (102, 9500, 0.00864, 1099537.037037037)]

In [ ]:
import itertools #110 #4
#105 , 107 , 106, 108, 109, 110, 111, 112 , 113, ###114, 115 ,116,117
percen = [sorted_results4[0][2], sorted_results4[1][2], sorted_results4[2][2], sorted_results4[3][2], sorted_results4[4][2],
          sorted_results4[5][2], sorted_results4[6][2], sorted_results4[7][2], sorted_results4[8][2]]
#sorted_results4[9][2],sorted_results4[10][2],sorted_results4[11][2],sorted_results4[12][2]
combinations_per4 = []

for length in range(1, 6):
    for combo in itertools.product(percen, repeat=length):
        if sum(combo) <= 1:
            combinations_per4.append(combo)
sum_per4 = [sum(combo) for combo in combinations_per4]
############################
value_mappings = {
    sorted_results4[0][2]: sorted_results4[0][1],
    sorted_results4[1][2]: sorted_results4[1][1],
    sorted_results4[2][2]: sorted_results4[2][1],
    sorted_results4[3][2]: sorted_results4[3][1],
    sorted_results4[4][2]: sorted_results4[4][1],
    sorted_results4[5][2]: sorted_results4[5][1],
    sorted_results4[6][2]: sorted_results4[6][1],
    sorted_results4[7][2]: sorted_results4[7][1],
    sorted_results4[8][2]: sorted_results4[8][1],
    #sorted_results4[9][2]: sorted_results4[9][1],
    #sorted_results4[10][2]: sorted_results4[10][1],
    #sorted_results4[11][2]: sorted_results4[11][1],
    #sorted_results4[12][2]: sorted_results4[12][1]

}

combinations_price4 = []

for combo in combinations_per4:
    mapped_values = [value_mappings[value] for value in combo]
    combinations_price4.append(mapped_values)

sum_price4 = [sum(combo) for combo in combinations_price4]

In [ ]:
len(sum_price4) , len(sum_per4)

(66423, 66423)

In [ ]:
min_value = float('inf')
min_combination = None

for i in range(len(sum_price)):
    A = sum_price[i]
    p = sum_per[i]

    for j in range(len(sum_price3)):
        B = sum_price3[j]
        q = sum_per3[j]

        for w in range(len(sum_price4)):
          C = sum_price4[w]
          r = sum_per4[w]
          # Calculate the expression value
          expression_value = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))

          # Check if the current value is the new minimum
          if expression_value < min_value:
              min_value = expression_value
              min_combination = (A, B, C, p, q, r)

# Output the result
A_min, B_min, C_min, p_min, q_min, r_min = min_combination
print("Minimum Value:", min_value)
print("A:", A_min)
print("B:", B_min)
print("C:", C_min)
print("p:", p_min)
print("q:", q_min)
print("r:", r_min)

In [ ]:
min_value = float('inf')
min_combination = None


for j in range(len(sum_price3)):
    A = 1500
    p = 0.1159*5
    B = sum_price3[j]
    q = sum_per3[j]

    for w in range(len(sum_price4)):
      C = sum_price4[w]
      r = sum_per4[w]
      # Calculate the expression value
      expression_value = (1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))

      # Check if the current value is the new minimum
      if expression_value < min_value:
          min_value = expression_value
          min_combination = (A, B, C, p, q, r)

# Output the result
A_min, B_min, C_min, p_min, q_min, r_min = min_combination
print("Minimum Value:", min_value)
print("A:", A_min)
print("B:", B_min)
print("C:", C_min)
print("p:", p_min)
print("q:", q_min)
print("r:", r_min)

Minimum Value: 78306.02997904006
A: 1500
B: 3200
C: 12500
p: 0.5795
q: 0.418365
r: 0.33183999999999997

In [ ]:
cost3[0]
#(1/(p*q)) * ((1-p)*A +p*(1-q)*(A+B) + p*q*(A+B))

(31918, 106, 385, 0.0866, 5, 107, 600, 0.046656, 5)

In [ ]:
cost4[0]

(366599,
 106,
 385,
 0.0648,
 5,
 108,
 1200,
 0.046656,
 5,
 111,
 8000,
 0.049471999999999995,
 5)

In [ ]:
a = 0.0648*5
b = 0.046656*5
c = 0.049471999999999995*5
a,b,c,a*b*c, 1/(a*c*b)
#(1/(p*q*r))*(((1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C) + p*q*r*(A+B+C)))

(0.32399999999999995,
 0.23328000000000002,
 0.24735999999999997,
 0.018696141619199996,
 53.486971823804026)

In [ ]:
#sell4 * 0.96 - raw - (A+B+C)
#n_try : (1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C)
A = cost4[0][2]*cost4[0][4]
p = cost4[0][3]*cost4[0][4]
B = cost4[0][6]*cost4[0][8]
q = cost4[0][7]*cost4[0][8]
C = cost4[0][10]*cost4[0][12]
r = cost4[0][11]*cost4[0][12]
try_cost = (1-p)*A + p*(1-q)*(A+B) + p*q*(1-r)*0.65*(A+B+C) + p*q*(1-r)*0.35*(B+C)
try_cost

5957.9688807157745

In [ ]:
round(try_cost)

5958

In [ ]:
S = 880000*.96-365000-(A+B+C)
S

431875.0

In [ ]:
S/round(try_cost) # 72

72.48657267539443

In [ ]:
(1-(p*q*r))**72

0.2569522732229493

In [ ]:
s1 = 420000
try_cost1 = 6000
pro = 0.0187

In [ ]:
(1-pro)**70

0.26676320042956025

In [ ]:
'''
n = 42000-6000n = 42000-6000*n*pro*((1-pro)**n-1)
'''

In [ ]:
sum2 = []
for i in range(1,150):
  sum = 420000 - 6000*i
  prob = pro * ((1-pro)**(i-1))
  sum2.append(round(sum))

In [ ]:
sum2[138]

-414000

In [ ]:
'''
sum[0] = 414000 , sum[138] = -414000

ovr114 (4710, 602614) - (per cost, level4*.96-level1) percent = 0.007815735

'''
1020000/4710

216.56050955414014

In [ ]:
p = 0.007815735
q = 1-p
sum =0
for i in range (1,533):
  sum_p = p*p*(q**(i-1)) * ((1-(q**(533-i)))/(1-q))
  sum += sum_p

In [ ]:
sum , 1-sum

(0.9206400697129695, 0.07935993028703048)

In [ ]:
p = 0.0187
q = 1-p
sum =0
for i in range (1,71):
  sum_p = p*(q**(i-1))
  sum += sum_p

In [ ]:
sum , q**70

(0.733236799570438, 0.26676320042956025)

In [ ]:
#216 - 1,215
import math

def calculate_equation(i, p, q):
    return p * p * p * (q ** (i - 1)) * math.comb(i + 1, 2)

p = 0.007815735
q = 1-p

total_sum = 0

for i in range(1, 648):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.8822854948650293

In [ ]:
import math

def calculate_equation(i, p, q):
    return p * p * p * p * (q ** (i - 1)) * math.comb(i + 2, 3)

p = 0.0187  # Replace with your desired value of p
q = 0.9813  # Replace with your desired value of q

total_sum = 0

for i in range(1, 285):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.18859586052881738

In [ ]:
import math

def calculate_equation(i, p, q):
    return p * p * p * p * p * (q ** (i - 1)) * math.comb(i + 3, 4)

p = 0.0187  # Replace with your desired value of p
q = 0.9813  # Replace with your desired value of q

total_sum = 0

for i in range(1, 356):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.8018397247162112

In [ ]:
import math

def calculate_equation(i, p, q):
    return (p**10) * (q ** (i - 1)) * math.comb(i + 8, 9)

p = 0.0187  # Replace with your desired value of p
q = 0.9813  # Replace with your desired value of q

total_sum = 0

for i in range(1, 691):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.8413233834784534

In [ ]:
import math

def calculate_equation(i, p, q):
    return (p**30) * (q ** (i - 1)) * math.comb(i + 28, 29)

p = 0.0187  # Replace with your desired value of p
q = 0.9813  # Replace with your desired value of q

total_sum = 0

for i in range(1, 2071):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.9469024093101789

In [ ]:
import math

def calculate_equation(i, p, q):
    return (p**35) * (q ** (i - 1)) * math.comb(i + 33, 34)

p = 0.0187  # Replace with your desired value of p
q = 0.9813  # Replace with your desired value of q

total_sum = 0

for i in range(1, 2416):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.9587194110614627

In [ ]:
import math

p = 0.007815735
r = 2

def negative_binomial_pmf(k):
    return math.comb(k + r - 1, r - 1) * (p ** r) * ((1 - p) ** k)

# Calculate probabilities for k = 1, 2, and 3
prob_k_1 = negative_binomial_pmf(216)
prob_k_2 = negative_binomial_pmf(433)
prob_k_3 = negative_binomial_pmf(549)

print("Probability of achieving exactly three successful attempts:")
print(f"P(X = 1): {prob_k_1}")
print(f"P(X = 2): {prob_k_2}")
print(f"P(X = 3): {prob_k_3}")

Probability of achieving exactly three successful attempts:
P(X = 1): 0.0024341302320401758
P(X = 2): 0.0008869733398489845
P(X = 3): 0.00045237065118681113

In [ ]:
q**216

0.18363033433068898

In [ ]:
#1020000/4710 = 216.56 , 2 533()

import math

def calculate_equation(i, p, q):
    return p * p * (q ** (i - 1)) * math.comb(i , 1)

p = 0.007815735
q = 1-p

total_sum = 0

for i in range(1, 433):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.8524274393582866

In [ ]:
for i in range(5):
  print(math.floor(216.56*i))

0
216
433
649
866

In [ ]:
#1020000/4710 = 216.56 , 3 649()

import math

def calculate_equation(i, p, q):
    return p * p * p * (q ** (i - 1)) * math.comb(i + 1, 2)

p = 0.007815735
q = 1-p

total_sum = 0

for i in range(1, 648):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.8822854948650293

In [ ]:
#1020000/4710 = 216.56 , 4 866()

import math

def calculate_equation(i, p, q):
    return p * p * p * p * (q ** (i - 1)) * math.comb(i + 2, 3)

p = 0.007815735
q = 1-p

total_sum = 0

for i in range(1, 864):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.9066722970409916

In [ ]:
#1020000/4710 = 216.56 , 7 1515()

import math

def calculate_equation(i, p, q):
    return p * p * p * p * p * p * p * (q ** (i - 1)) * math.comb(i + 5, 6)

p = 0.007815735
q = 1-p

total_sum = 0

for i in range(1, 1510):
    result = calculate_equation(i, p, q)
    total_sum += result

print("Total sum of the results:", total_sum)

Total sum of the results: 0.9505863987957142

In [ ]:
import math

def calculate_probability(num_attempts, num_successes):
    p = 0.007815735
    q = 1 - p
    return p ** num_successes * (q ** (num_attempts - num_successes)) * math.comb(num_attempts, num_successes)

def calculate_and_print_results(num_attempts, num_successes):
    total_sum = 0
    for i in range(1, num_attempts + 1):
        result = calculate_probability(i, num_successes)
        total_sum += result
    print("Total sum of the results:", total_sum)

# Call the function for different scenarios
calculate_and_print_results(433, 1)  # 2 attempts, 1 success
calculate_and_print_results(648, 2)  # 3 attempts, 2 successes
calculate_and_print_results(865, 3)  # 4 attempts, 3 successes

# p  , calculate_and_print_results(a, i) , a  = *(1-) / 1

Total sum of the results: 109.17966638308006
Total sum of the results: 112.88579959082917
Total sum of the results: 115.94699931896807

In [ ]:
# Given values
initial_amount = 1000
probability_of_winning = 0.10
cost_per_game = 50

# Calculate expected value
amount_won = initial_amount - cost_per_game
probability_of_losing = 1 - probability_of_winning
amount_lost = cost_per_game
expected_value = (probability_of_winning * amount_won) + (probability_of_losing * amount_lost)

# Calculate the percentage of loss
percentage_of_loss = (amount_lost / expected_value) * 100

print("Expected Value:", expected_value)
print("Percentage of Loss:", percentage_of_loss)

Expected Value: 140.0
Percentage of Loss: 35.714285714285715

In [ ]:
p = 0.007815735
q = 1-p
1020000*p+q*4710

12645.237588150001